---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header title='Bienvenido a mi sitio'/>
		<Hero />
		<ul role="list" class="link-card-grid">
			<Card
				title="Documentation"
				time="19/04/2024"
				tags='javascript'
			/>
			
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
